<script>
/*	"use strict";
	//variable de test
	var dateDispo = new Date(2017, 4, 19);
	var typeMedia = 'Livre';
	var titreMedia = 'La Bible';
	var auteurMedia = 'Jésus de Nazareth';
	
	$(function(){
		initInfo();
		afficheDateDispo();
		initDateEmprunt();
		calculDateRetour();

		// calcul date retour automatique
		$('input.dateEmprunt').change(function() {
			var dateRetour = new Date($('input.dateEmprunt').val());
			dateRetour.setDate(dateRetour.getDate() + 30);
			$('.dateRetour').val(formaterDateInput(dateRetour));
		});


	});
	
	function formaterDate(date)
	{
		// format string au format date
		var day = ("0" + date.getDate()).slice(-2);
		var month = ("0" + (date.getMonth()+1)).slice(-2);
		return (day + '/' + month + '/' + date.getFullYear());
	}

	function formaterDateInput(date){
		// format string au format date pour l'input Date
		var day = ("0" + date.getDate()).slice(-2);
		var month = ("0" + (date.getMonth()+1)).slice(-2);
		return (date.getFullYear() + '-' + month + '-' + day);
	}
	
	function initDateEmprunt()
	{
		var elementDate = $('input.dateEmprunt');
		if(elementDate != undefined)
		{
			if(dateDispo != undefined && dateDispo > new Date())
			{
				elementDate.val(formaterDateInput(dateDispo));
			}
			else
			{
				elementDate.val(formaterDateInput(new Date()));
			}
		}
	}

	function calculDateRetour(){
		var dateRetour = new Date($('input.dateEmprunt').val());
		switch (typeMedia)
		{
			case "DVD":
			case "CD":
				dateRetour.setDate(dateRetour.getDate() + 15);
				break;
			case "Livre":
				dateRetour.setDate(dateRetour.getDate() + 30);
				break;
		}
		$('.dateRetour').val(formaterDateInput(dateRetour));
	}*/
</script>

<main>
	<div>
		<h3>
			<span class=infoType ng-switch on="medCtrl.media.type">
				<span ng-switch-when="Livre" class="glyphicon glyphicon-book" aria-hidden="true"></span>
				<span ng-switch-when="CD" class="glyphicon glyphicon-music" aria-hidden="true"></span>
				<span ng-switch-when="DVD" class="glyphicon glyphicon-film" aria-hidden="true"></span>
			</span>
			<span class=infoTitre ng-bind="medCtrl.media.titre"></span><small> par <span class="infoAuteur" ng-bind="medCtrl.media.auteur"></span></small>
		</h3>
	</div>
	<br />
	
	<form class="form-horizontal">
		<fieldset>
			<legend>Modifier le média</legend>
			<div class="form-group">
				<label for="titre" class="control-label col-sm-2 hidden-xs">Titre</label>
				<div class="col-sm-7 col-xs-12"> 
					<input ng-model="medCtrl.mediaTmp.titre" type="text" class="form-control" placeholder="Titre" name="titre" required="required">
				</div>
			</div>
			<div class="form-group">
				<label for="auteur" class="control-label col-sm-2 hidden-xs">Auteur</label>
				<div class="col-sm-7 col-xs-12">
					<input ng-model="medCtrl.mediaTmp.auteur" type="text" class="form-control" placeholder="Auteur" name="auteur" required="required">
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="control-label col-sm-2 hidden-xs">Type</label>
				<div class="col-sm-7 col-xs-12">
					<select ng-model="medCtrl.mediaTmp.type" name="selectType" class="form-control">
						<option>Livre</option>
						<option>CD</option>
						<option>DVD</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12 col-sm-offset-2">
					<input ng-click="medCtrl.saveMedia()" class="btn btn-default" value="Enregistrer">
				</div>
			</div>
		</fieldset>
	</form>
	
	<div ng-show="medCtrl.media.emprunteur==undefined" class="alert alert-success" role="alert">Disponible</div>
	<div ng-show="!(medCtrl.media.emprunteur==undefined)" class="alert alert-warning" role="alert">
		Emprunté par 
		<span ng-bind="medCtrl.media.emprunteur.nom + ' ' + medCtrl.media.emprunteur.prenom"></span>
		, sera disponible le 
		<span ng-bind="medCtrl.media.retour | date:'dd/MM/yyyy'"></span>
	</div>
	
	<form class="form-inline">
		<fieldset>
			<legend>Ajouter un prêt</legend>
			<div class="form-group">
				<label for="nom" class="hidden-xs">Nom</label>
				<input type="text" class="form-control" placeholder="Nom" name="nom" required="required">
			</div>
			<div class="form-group">
				<label for="dateEmprunt" class="hidden-xs">Date emprunt</label>
				<input ng-model="medCtrl.mediaTmp.empruntDebut" ng-change="medCtrl.changeDateRetour()" type="date" class="form-control dateEmprunt" name="dateEmprunt" required="required">
			</div>
			<div class="form-group">
				<label for="dateRetour" class="hidden-xs">Date de retour</label>
				<input ng-model="medCtrl.mediaTmp.empruntRetour" type="date" class="form-control dateRetour" name="dateRetour" readonly>
			</div>
			<button ng-click="medCtrl.saveEmprunt()" type="submit" class="btn btn-default">Ajouter</button>
		</fieldset>
		</br>
	</form>

	<div>
    	<legend>Liste des adhérents ayant emprunté ce média</legend>
    	<div class=" tableau col-md-12">
			<div class="responsive-table-line">
				<table class="hidden-xs table table-hover table-bordered ">
					<thead>
						<tr class="entete" >
							<th onclick="location.href='#';" style="cursor:pointer;">
								<span>Nom </span>
								<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
							</th>
							<th onclick="location.href='#';" style="cursor:pointer;">
								<span>Prénom </span>
								<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
							</th>
							<th onclick="location.href='#';" style="cursor:pointer;">
								<span>Date </span>
								<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr onclick="location.href='ficheAdherent.html';" style="cursor:pointer;">
							<td data-title="Nom"><span>Arthur</span></td>
							<td data-title="Prénom"><span>Quentin</span></td>
							<td data-title="Date"><span>19/06/2015</span></td>
						</tr>
						<tr onclick="location.href='ficheAdherent.html';" style="cursor:pointer;">
							<td data-title="Nom"><span>Fort</span></td>
							<td data-title="Prénom"><span>Mathieu</span></td>
							<td data-title="Date"><span>25/05/2013</span></td>		
						</tr>
						<tr onclick="location.href='ficheAdherent.html';" style="cursor:pointer;">
							<td data-title="Nom"><span>Link</span></td>
							<td data-title="Prénom"><span>Zelda</span></td>
							<td data-title="Date"><span>04/02/2014</span></td>
						</tr>
					</tbody>
				</table>
				
				<div class=" visible-xs-block row" >
					<div class="col-xs-6">
						<a href="ficheAdherent.html"><div class="list">
							<label>Nom :</label><span>Arthur</span><br>
							<label>Prénom :</label><span>Quentin</span><br>
							<label>Date :</label><span>19/06/2015</span><br>
						</div></a>
					</div>
					<div class="col-xs-6">
						<a href="ficheAdherent.html"><div class="list">
							<label>Nom :</label><span>Fort</span><br>
							<label>Prénom :</label><span>Mathieu</span><br>
							<label>Date :</label><span>25/05/2013</span><br>
						</div></a>
					</div>
					<div class="col-xs-6">
						<a href="ficheAdherent.html"><div class="list">
							<label>Nom :</label><span>Link</span><br>
							<label>Prénom :</label><span>Zelda</span><br>
							<label>Date :</label><span>04/02/2014</span><br>
						</div></a>
					</div>
				</div>
			</div>
		</div>
    </div>
</main>